In [1]:
from src import data_loader as dl
import pandas as pd

file_path = 'data/U13271915_20250101_20251029.csv'
df_raw = pd.read_csv(
            file_path,
            header=None,
            dtype=object, 
            on_bad_lines='skip',
            low_memory=False
        )
print("df_raw loaded successfully!")
print(df_raw.head)

df_raw loaded successfully!
<bound method NDFrame.head of                     0       1   \
0            Statement  Header
1            Statement    Data
2            Statement    Data
3            Statement    Data
4            Statement    Data
..                 ...     ...
713  Notes/Legal Notes    Data
714  Notes/Legal Notes    Data
715  Notes/Legal Notes    Data
716  Notes/Legal Notes    Data
717  Notes/Legal Notes    Data

                                                    2   \
0                                           Field Name
1                                           BrokerName
2                                        BrokerAddress
3                                                Title
4                                               Period
..                                                 ...
713  Over-the-Counter Transactions in Contracts for...
714  Over-the-Counter Transactions in Contracts for...
715  Over-the-Counter Transactions in Contracts for...
716  Over-the-Counter Transactions in Contracts for...
717  Over-the-Counter Transactions in Contracts for...

                                                    3    4    5    6    7   \
0                                          Field Value  NaN  NaN  NaN  NaN
1                   Interactive Brokers (U.K.) Limited  NaN  NaN  NaN  NaN
2    20 Fenchurch Street, Floor 12, London EC3M 3BY...  NaN  NaN  NaN  NaN
3                                   Activity Statement  NaN  NaN  NaN  NaN
4                   January 1, 2025 - October 29, 2025  NaN  NaN  NaN  NaN
..                                                 ...  ...  ...  ...  ...
713  OTC products offered by IBUK such as CFDs and ...  NaN  NaN  NaN  NaN
714  A CFD is to secure a profit or avoid a loss by...  NaN  NaN  NaN  NaN
715  OTC metals such as unallocated gold are not "M...  NaN  NaN  NaN  NaN
716  Transactions in metals, including unallocated ...  NaN  NaN  NaN  NaN
717  You may be eligible for protection from the UK...  NaN  NaN  NaN  NaN

      8    9    10   11   12   13   14   15   16
0    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
713  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
714  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
715  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
716  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
717  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[718 rows x 17 columns]>

In [2]:
df_mtm = dl.get_section(df_raw, 'Mark-to-Market Performance Summary')
print("--- MTM Section ---")
print(df_mtm)

df_open_pos = dl.get_section(df_raw, 'Open Positions')
print("\n--- Open Positions Section ---")
print(df_open_pos)

--- MTM Section ---
37                     Asset Category    Symbol Prior Quantity  \
0                              Stocks      ANFO              0
1                              Stocks      ASML              2
2                              Stocks    CHDVDz             45
3                              Stocks       DGE             56
4                              Stocks      EMBC              0
5                              Stocks      FLIN            192
6                              Stocks      FONC              0
7                              Stocks        HO              0
8                              Stocks      IBKR         3.0368
9                              Stocks      IGLB              0
10                             Stocks     IHYUz              0
11                             Stocks     IUSCz             86
12                             Stocks       IVV             12
13                             Stocks      KGXd             47
14                             Stocks        MC              6
15                             Stocks      MEUD              0
16                             Stocks      MSFT              3
17                             Stocks      NESN              0
18                             Stocks      RHMd              0
19                             Stocks     SPY5z              0
20                             Stocks       UNH              0
21                             Stocks      VGLT              0
22                             Stocks  VNA.DRTS              0
23                             Stocks      VNAd            136
24                             Stocks       VTI              0
25                              Total       NaN            NaN
26                              Forex       CHF   -14909.51088
27                              Forex       EUR    23.42152542
28                              Forex       GBP          15.57
29                              Forex       USD          61.55
30                              Total       NaN            NaN
31                 Total (All Assets)       NaN            NaN
32  Broker Interest Paid and Received       NaN            NaN
33                         Other Fees       NaN            NaN

37 Current Quantity Prior Price Current Price Mark-to-Market P/L Position  \
0                40          --         101.8                         116
1                 0      693.08            --                 131.9161071
2                45      157.92        169.82                       535.5
3                56      25.375        17.555                 -491.022168
4              1180          --        3.0606                      131.69
5               192        37.9         39.24                 179.0709696
6                26          --           158                        93.6
7                 0          --            --                   -3.975993
8           11.1472      176.67         69.19                 244.2119355
9                 0          --            --                           0
10               60          --        78.172                     -487.68
11                0       91.09            --                       92.02
12                0      588.68            --                 164.2497792
13                0       31.86            --                 632.4742107
14                6       635.5         618.8                 -111.005682
15               28          --        276.45                  758.574834
16                0       421.5            --                 288.5990163
17                0          --            --                       394.8
18                0          --            --                  1491.11142
19                3          --         548.6                       145.8
20                0          --            --                  147.009594
21             28.5          --          57.8                           0
22                0          --            --                           0
23              141       29.32         26.66                 -229.805481
24             21.6          --        337.71                 522.4548387
25              NaN         NaN           NaN                 4745.593381
26     -24452.71061           1             1                           0
27                0     0.93957       0.92816                -149.6530427
28                0      1.1356        1.0557                  -85.048687
29        2.0900268     0.90749        0.8001                -1576.595075
30              NaN         NaN           NaN                -1811.296805
31              NaN         NaN           NaN                 2934.296576
32              NaN         NaN           NaN                         NaN
33              NaN         NaN           NaN                         NaN

37 Mark-to-Market P/L Transaction Mark-to-Market P/L Commissions  \
0                              12                             -5
1                      -5.8249158                     -0.8026397
2                               0                              0
3                               0                              0
4                         -12.154                             -5
5                               0                              0
6                           -15.6                             -5
7                        7.373709                     -12.129075
8                      -0.6062472                    -0.49588881
9                               0                              0
10                              0                             -5
11                         -85.02                             -5
12                     13.5405024                    -1.09596658
13                     17.1841776                       -2.88648
14                              0                              0
15                       -1.40581                       -5.64633
16                     66.9782934                    -2.41896141
17                           51.6                            -10
18                      166.85956                       -5.87877
19                            3.6                             -5
20                     64.5783204                    -3.23244678
21                   -10.24560054                    -0.80060166
22                              0                              0
23                              0                              0
24                   -10.59030487                    -3.47335215
25                    262.2676844                   -78.86051209
26                      -0.009811                              0
27                              0                              0
28                              0                              0
29                     -10.323629                       -5.02108
30                      -10.33344                       -5.02108
31                    251.9342444                   -83.88159209
32                            NaN                            NaN
33                            NaN                            NaN

37 Mark-to-Market P/L Other Mark-to-Market P/L Total
0                         0                      123
1                 7.8479934               133.136545
2                    192.25                   727.75
3                 19.451179              -471.570989
4                    131.44                  245.976
5                  8.309288              187.3802576
6                     47.32                   120.32
7                         0                -8.731359
8                 1.8539889              244.9637884
9                 0.5248768                0.5248768
10               146.689193              -345.990807
11                        0                        2
12                        0               176.694315
13                        0              646.7719083
14               31.6551375              -79.3505445
15                        0               751.522694
16                5.2771464              358.4354947
17                        0                    436.4
18                        0               1652.09221
19                4.0569336              148.4569336
20                6.0484038              214.4038714
21                        0              -11.0462022
22               24.5219024               24.5219024
23                        0              -229.805481
24               32.7997812              541.1909629
25               660.045824              5589.046377
26                        0                -0.009811
27                        0             -149.6530427
28                        0               -85.048687
29                        0             -1591.939784
30                        0             -1826.651325
31               660.045824              3762.395053
32                      NaN              -284.072596
33                      NaN                  164.556

--- Open Positions Section ---
162 DataDiscriminator Asset Category Currency  Symbol Quantity Mult  \
0             Summary         Stocks      CHF    ANFO       40    1
1             Summary         Stocks      CHF  CHDVDz       45    1
2             Summary         Stocks      CHF    EMBC     1180    1
3             Summary         Stocks      CHF    FONC       26    1
4             Summary         Stocks      CHF   IHYUz       60    1
5             Summary         Stocks      CHF   SPY5z        3    1
6             Summary         Stocks      EUR      MC        6    1
7             Summary         Stocks      EUR    MEUD       28    1
8             Summary         Stocks      EUR    VNAd      141    1
9             Summary         Stocks      GBP     DGE       56    1
10            Summary         Stocks      USD    FLIN      192    1
11            Summary         Stocks      USD    IBKR  11.1472    1
12            Summary         Stocks      USD    VGLT     28.5    1
13            Summary         Stocks      USD     VTI     21.6    1

162   Cost Price   Cost Basis Close Price    Value Unrealized P/L  \
0         98.725         3949       101.8     4072            123
1    157.3237778      7079.57      169.82   7641.9         562.33
2    2.963537288     3496.974      3.0606  3611.51        114.536
3    155.1923077         4035         158     4108             73
4    86.38333333         5183      78.172  4690.32        -492.68
5    500.4666667       1501.4       548.6   1645.8          144.4
6          771.3       4627.8       618.8   3712.8           -915
7    247.5035714       6930.1      276.45   7740.6          810.5
8    28.33219858      3994.84       26.66  3759.06        -235.78
9    24.92732143      1395.93      17.555   983.08        -412.85
10   38.79448106  7448.540364       39.24  7534.08      85.539636
11   47.09709694   525.000759       69.19   771.27     246.269241
12     58.284422  1661.106027        57.8   1647.3     -13.806027
13   305.0207385  6588.447951      337.71  7294.54     706.092049

162 Unrealized P/L %
0               3.11
1               7.94
2               3.28
3               1.81
4              -9.51
5               9.62
6             -19.77
7               11.7
8               -5.9
9             -29.58
10              1.15
11             46.91
12             -0.83
13             10.72

In [3]:
import pandas as pd
# Assuming your loader file is in a folder named 'src'
# and this script is in the main project folder.
from src import data_loader as dl 

# --- 1. Define File Paths ---
# Make sure this path is correct for your project structure
filepath = r'data/U13271915_20250101_20251029.csv'
output_excel_path = r'data/report_output.xlsx'

# --- 2. Run the Loader ---
# Set pandas display options for better printing in the console
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 150)

print(f"Loading report from: {filepath}...")
results = dl.load_ibkr_report(filepath)


# --- 3. Save to Excel and Print ---
if results:
    print("\nReport loaded successfully.")
    
    try:
        # Use pd.ExcelWriter to save both DataFrames to one file
        # on separate sheets.
        with pd.ExcelWriter(output_excel_path) as writer:
            results['initial_state'].to_excel(writer, sheet_name='Initial_State', index=False)
            results['events'].to_excel(writer, sheet_name='Event_Log', index=False)
            
        print(f"Successfully saved data to: {output_excel_path}")
        
    except ImportError:
        print("\n--- ERROR ---")
        print("To save to Excel, you need the 'openpyxl' library.")
        print("Please install it by running this in your terminal:")
        print("pip install openpyxl")
    except Exception as e:
        print(f"\nAn error occurred while saving to Excel: {e}")

    # --- 4. Print results to console as before ---
    print("\n" + "="*80 + "\n")
    print("--- 1. Initial State DataFrame ---")
    print(results['initial_state'])
    
    print("\n" + "="*80 + "\n")
    print("--- 2. Master Event Log (First 20 Events) ---")
    print(results['events'].head(20))

else:
    print("Data loading failed. No results to save.")

Loading report from: data/U13271915_20250101_20251029.csv...

Report loaded successfully.
Successfully saved data to: data/report_output.xlsx

================================================================================

--- 1. Initial State DataFrame ---
    symbol asset_category currency      quantity  value_native
0     ANFO          Stock      CHF      0.000000      0.000000
1     ASML          Stock      USD      2.000000   1386.160000
2   CHDVDz          Stock      CHF     45.000000   7106.400000
3      DGE          Stock      GBP     56.000000   1421.000000
4     EMBC          Stock      CHF      0.000000      0.000000
5     FLIN          Stock      USD    192.000000   7276.800000
6     FONC          Stock      CHF      0.000000      0.000000
7       HO          Stock      EUR      0.000000      0.000000
8     IBKR          Stock      USD      3.036800    536.511456
9    IHYUz          Stock      CHF      0.000000      0.000000
10   IUSCz          Stock      CHF     86.000000   7833.740000
11     IVV          Stock      USD     12.000000   7064.160000
12    KGXd          Stock      EUR     47.000000   1497.420000
13      MC          Stock      EUR      6.000000   3813.000000
14    MEUD          Stock      EUR      0.000000      0.000000
15    MSFT          Stock      USD      3.000000   1264.500000
16    NESN          Stock      CHF      0.000000      0.000000
17    RHMd          Stock      EUR      0.000000      0.000000
18   SPY5z          Stock      CHF      0.000000      0.000000
19     UNH          Stock      USD      0.000000      0.000000
20    VGLT          Stock      USD      0.000000      0.000000
21    VNAd          Stock      EUR    136.000000   3987.520000
22     VTI          Stock      USD      0.000000      0.000000
23     CHF           Cash      CHF -14909.510880 -14909.510880
24     EUR           Cash      EUR     23.421525     23.421525
25     GBP           Cash      GBP     15.570000     15.570000
26     USD           Cash      USD     61.550000     61.550000

================================================================================

--- 2. Master Event Log (First 20 Events) ---
             timestamp  event_type symbol  quantity_change  cash_change_native currency
0  2024-07-02 00:00:00         TAX   IGLB           0.0000           -0.110000      USD
1  2024-07-02 00:00:00         TAX   IGLB           0.0000            0.690000      USD
2  2025-01-10 00:00:00         TAX    VTI           0.0000           -0.680000      USD
3  2025-01-10 00:00:00         TAX    VTI           0.0000           -2.260000      USD
4  2025-01-10 00:00:00    DIVIDEND    VTI           0.0000           15.060000      USD
5  2025-01-10 00:00:00    DIVIDEND    VTI           0.0000            4.540000      USD
6  2025-01-17 10:45:03   TRADE_BUY   NESN          30.0000        -2228.600000      CHF
7  2025-02-03 09:03:28  TRADE_SELL  IUSCz         -86.0000         7835.740000      CHF
8  2025-02-05 00:00:00   GIFT_VEST   IBKR           0.0092            0.000000      USD
9  2025-02-07 00:00:00         TAX    VTI           0.0000           -1.970000      USD
10 2025-02-07 00:00:00    DIVIDEND    VTI           0.0000           13.150000      USD
11 2025-02-07 12:52:46  TRADE_SELL    IVV         -12.0000         7259.275615      USD
12 2025-02-07 12:58:13   TRADE_BUY    VTI          24.4000        -7292.944322      USD
13 2025-02-10 08:54:53   TRADE_BUY  IHYUz          60.0000        -5183.000000      CHF
14 2025-02-13 11:29:37   TRADE_BUY   EMBC        1180.0000        -3496.974000      CHF
15 2025-02-14 03:01:01   TRADE_BUY   ANFO          40.0000        -3949.000000      CHF
16 2025-02-14 03:33:58   TRADE_BUY   FONC          26.0000        -4035.000000      CHF
17 2025-02-19 00:00:00         TAX   ASML           0.0000           -0.470000      USD
18 2025-02-19 00:00:00    DIVIDEND   ASML           0.0000            3.140000      USD
19 2025-02-24 03:02:59   TRADE_BUY   RHMd           5.0000        -4636.000000      EUR

In [4]:
dl.get_section(df_raw, 'Corporate Actions')

280,Asset Category,Currency,Report Date,Date/Time,Description,Quantity,Proceeds,Value,Realized P/L
0,Stocks,EUR,29/05/2025,"2025-05-28, 20:25:00",VNA(DE000A1ML7J1) Dividend Rights Issue 1 for...,136,0,0,0
1,Stocks,EUR,30/06/2025,"2025-06-25, 20:20:00",VNA.DRTS(DE000A40ZU23) Expire Dividend Right (...,-136,0,0,0
2,Stocks,EUR,30/06/2025,"2025-06-25, 20:20:00",VNA.DRTS(DE000A40ZU23) Expire Dividend Right (...,5,0,0,0
3,Total,NaN,NaN,NaN,NaN,NaN,0,0,0
4,Total in CHF,NaN,NaN,NaN,NaN,NaN,0,0,0
5,Stocks,USD,18/06/2025,"2025-06-17, 20:25:00","IBKR(US45841N1072) Split 4 for 1 (IBKR, INTERA...",9.1104,0,0,0
6,Total,NaN,NaN,NaN,NaN,NaN,0,0,0
7,Total in CHF,NaN,NaN,NaN,NaN,NaN,0,0,0